@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<p>Post Seccusfully</p>
@Html.ActionLink("Go Back Home", "Index", "Home",null ,new { @class = "button1" })




@section Header{

}
